.section-title {
    font-size: 3rem;
}
.services-container {
    padding: 80px 0 0;
}

.box-shadow {
    -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
    box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.card-text {
    padding-top: 12px;
    color: #8c8c8c;
}

.text-sm {
    font-size: 12px !important;
}
p, .p {
    margin: 0 0 16px;
}

.card-title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
}

.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.head-icon-wrapper {
    width: 90px;
    height: 90px;
    margin-top: -45px;
}

.head-icon{
    margin-top:18px;
    color:#FF4500;
    width:60px;
    height: 60px;
}
